#app-root-2026-wir_report .app {
  .fdi_explorer_standalone_page {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1350px;
    padding: clamp(20px, 4vw, 40px) clamp(10px, 3vw, 20px);
  }
}
