#app-root-2026-wir_report .app {
  div.container_back_to_top {
    animation-delay: 10s;
    animation-direction: normal;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-iteration-count: 5;
    animation-name: app_root_2026_wir_report_bounce2;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    background-color: transparent;
    bottom: 15px;
    position: fixed;
    right: 50px;
    text-align: right;
    z-index: 15;
    button {
      align-items: center;
      background-color: var(--un-color-yellow);
      border: 0;
      border-radius: 50px;
      box-shadow: 0 0 10px #000;
      color: #000;
      cursor: pointer;
      display: flex;
      height: 38px;
      justify-content: center;
      position: relative;
      width: 38px;
      svg {
        display: block;
        height: 24px;
        width: 24px;
      }
      &:hover {
        background-color: var(--un-color-green-dark);
        color: #fff;
      }
    }
    @media all and (max-width: 970px) {
      right: 20px;
    }
  }
}

@keyframes app_root_2026_wir_report_bounce2 {
  0%,
  100% {
    bottom: 15px;
  }
  5% {
    bottom: 20px;
  }
  10% {
    bottom: 25px;
  }
}
